body {
    font-family: Arial;
    margin: 0;
    background-color: #f0f0f0;
    color: black;
    text-align: center;
}

/* Wrapper để căn giữa các thành phần */
.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    box-sizing: border-box;
}

input[type="text"] {
    padding: 10px;
    width: 407px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 5px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 30px;
}

button {
    padding: 10px 10px;
    font-size: 15px;
    border: none;
    background-color: #cc0000;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin: 3px;
    width: 60px;
}

button:hover {
    background-color: #b30000;
}

.inputGroup {
    z-index: 1500;
    position: relative;
    display: flex;
    align-items: center;
    max-width: 560px;
}

#suggestions {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    z-index: 2000;
    max-height: 150px;
    overflow-y: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: left;
}

#suggestions div {
    padding: 6px;
    cursor: pointer;
}

#suggestions div:hover {
    background-color: #f0f0f0;
}

#playerWrapper {
    position: relative;
    width: 560px;
    max-width: 100%;
    margin: 10px auto;
    background-color: black;
    display: flex;
    flex-direction: row;
}

#player {
    width: 100%;
    height: 315px;
}

#playerWrapper.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 95vh;
    z-index: 1000;
    margin: 0;
}

#playerWrapper.fullscreen #player {
    height: 100%;
}

#playerWrapper.fullscreen #rightButtons {
    position: fixed;
    right: 35px;
    z-index: 1600;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70px;
    margin-top: 70px;
}

#rightButtons {
    position: fixed;
    right: 50px;
    z-index: 2000;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70px;
}

#rightButtons button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: #cc0000;
    border: none;
    border-radius: 6px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#rightButtons svg {
    width: 24px;
    height: 24px;
    color: white;
    pointer-events: none;
}

.fs-btn {
    padding: 10px 10px;
    background-color: #cc0000;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
    width: 47px;
    height: 47px;
}

#fullscreenControls {
    position: absolute;
    bottom: -76px;
    z-index: 1050;
    padding: 10px;
}

#fullscreenControls button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #cc0000;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

#fullscreenControls svg {
    width: 24px;
    height: 24px;
    color: white;
    pointer-events: none;
}

#increaseSeekBtn,
#decreaseSeekBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    width: 47px;
    height: 47px;
}

#increaseSeekBtn input,
#decreaseSeekBtn input {
    font-size: 14px;
    padding: 2px;
}

#showSearchBtn {
    position: fixed;
    left: 0px;
    margin: 0;
    z-index: 1600;
    display: none;
    width: 80px;
    height: 50px;
}

.inputWrapper {
    position: relative;
    display: inline-block;
}

.clear-icon {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: #888;
}

.pasteBtn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border: none;
    background-color: #DDDDDD;
    border-radius: 4px;
    cursor: pointer;
    height: 37.33px;
}

.pasteBtn:hover {
    background-color: #CCCCCC;
}

.pasteBtn img {
    display: block;
    width: 24px;
    height: 24px;
}


@media (max-width: 900px),
(max-height: 500px) {

    #rightButtons button,
    .fs-btn,
    #increaseSeekBtn,
    #decreaseSeekBtn {
        width: 42px;
        height: 42px;
    }

    #seekSeconds,
    #customValue {
        width: 36px;
        font-size: 14px;
    }
}