.body {
    background-color: #FFFFFF;
}

.video-item {
    margin: 10px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.video-item a {
    text-decoration: none;
}

.video-item img {
    width: 320px;
    height: auto;
}

.video-item p {
    font-size: 20px;
    margin-top: 5px;
    color: black;
    font-family: "Roboto", "Arial", sans-serif;
}

.resultTitle {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: "Roboto", "Arial", sans-serif;
}

.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #007bff;
    border-radius: 999px;
    overflow: hidden;
    width: 560px;
    height: 40px;
    background-color: white;
    position: relative;
    margin-top: 20px;
}

.search-container input {
    flex: 1;
    border: none;
    outline: none;
    padding: 0 10px;
    font-size: 16px;
    padding-right: 30px;
    width: 300px;
    border-radius: 6px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.search-icon.left {
    padding-left: 10px;
    color: #333;
}

.search-button {
    border: none;
    background-color: #f0f0f0;
    padding: 0 15px;
    cursor: pointer;
    font-size: 18px;
    height: 100%;
}

.search-button:hover {
    background-color: #e0e0e0;
}